doctype html
html(lang='en')
  block head
    head
      title= `${title} | ${site.title}`
      meta(charset="utf-8")
      meta(http-equiv="x-ua-compatible", content="ie=edge")
      meta(name="viewport", content="width=device-width,initial-scale=1")
      meta(name="description" content=site.description)
  body
    include ../partials/header.pug
    main
      if title
        h1= title
      | !{content}
    include ../partials/footer.pug
